<div class="card mt-4">
	<div class="card-body">
		<h1>About</h1>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi in nostrum fugit iusto reiciendis at aut
			praesentium tempora! Eveniet facilis deleniti laboriosam consectetur consequuntur et ipsam culpa libero
			ullam facere.</p>
	</div>
</div>