p, h1 {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

ul li {
  color: blue;
}

ul li a {
  color: green;
}

a:hover {
  color: pink;
  font-size: 50px;
}

p:first-of-type {
  color: maroon;
}