<mat-card>
  <ng-template tdLoading="articulos.list">
    <mat-list class="will-load">
      <div
        class="pad"
        *ngIf="articulos?.length === 0"
        layout="row"
        layout-align="center"
      >
        <h3>No hay articulos para mostrar</h3>
      </div>

      <ng-template let-art let-last="last" ngFor [ngForOf]="articulos">
        <mat-list-item>
          <mat-icon matListAvatar>dashboard</mat-icon>
          <h3 matLine>ID: {{ art.id }}</h3>
          <h3 matLine>{{ art.descripcion }}</h3>
          <h3 matLine>Depo: {{ art.deposito }}</h3>
          <button mat-icon-button (click)="delete(art.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>

        <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
      </ng-template>
    </mat-list>
  </ng-template>
</mat-card>

<a
  mat-fab
  color="accent"
  class="mat-fab-bottom-right fixed z-3"
  [routerLink]="['add']"
>
  <mat-icon>add</mat-icon>
</a>
